@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --primary-50: #FAFCFF;
    --secondary-50: #FFFDFB;
    --secondary-100: #FFE8D2;
    --secondary-200: #FFD7AC;
    --secondary-300: #FFC887;
    --secondary-400: #FFBC65;
    --secondary-500: #FFB145;
    --secondary-600: #FF9820;
    --secondary-700: #F97207;
    --secondary-800: #DD4E02;
    --secondary-900: #B73206;
    --primary-100: #CDDFFF;
    --primary-200: #A2BFFF;
    --primary-300: #7A9EFC;
    --primary-400: #537BF7;
    --primary-500: #2F57EF;
    --primary-600: #1440DF;
    --primary-700: #002CBF;
    --primary-800: #001C9F;
    --primary-900: #001080;
    --tertiary-50: #FFFBFE;
    --tertiary-100: #F8D6F2;
    --tertiary-200: #F1B1E3;
    --tertiary-300: #E88FD2;
    --tertiary-400: #DD6EBE;
    --tertiary-500: #D14EA8;
    --tertiary-600: #C03494;
    --tertiary-700: #A9207E;
    --tertiary-800: #8C1067;
    --tertiary-900: #66054D;

    /*Primary*/
    --primary-contrast: #FFFFFF;
    --teruary-main: #D14EA8;
    --primary: var(--primary-500);

    --infor: #03A9F4;
    --success: #4CAF50;
    /*Text*/
    --text-secondary: #637381;
    --text-primary: #212B36;

}

@theme inline {
    --color-primary-contrastText: rgba(0, 0, 0, 0.87);
    --color-primary-lighter: var(--primary-100);
    --color-secondary: var(--text-secondary);
    --color-secondary-contrastText: rgba(0, 0, 0, 0.87);
    --color-secondary-lighter: var(--secondary-100);
    --color-secondary-light: var(--secondary-300);
    --color-secondary-main: var(--secondary-500);
    --color-secondary-dark: var(--secondary-700);
    --color-secondary-darker: var(--secondary-900);
    --color-primary-light: var(--primary-300);
    --color-primary-main: var(--primary-500);
    --color-primary-dark: var(--primary-700);
    --color-primary-darker: var(--primary-900);
    --color-tertiary-contrastText: rgba(0, 0, 0, 0.87);
    --color-tertiary-lighter: var(--tertiary-100);
    --color-tertiary-light: var(--tertiary-300);
    --color-tertiary-main: var(--tertiary-500);
    --color-tertiary-dark: var(--tertiary-700);
    --color-tertiary-darker: var(--tertiary-900);
    --color-transparent-_primary: rgba(47, 87, 239, 0.08);
    --color-transparent-_secondary: rgba(255, 177, 69, 0.08);
    --color-transparent-_tertiary: rgba(209, 78, 168, 0.08);
    --color-shadow-color-primary-color: rgba(47, 87, 239, 0.24);
    --color-shadow-color-secondary-color: rgba(255, 177, 69, 0.24);
    --color-shadow-color-tertiary-color: rgba(209, 78, 168, 0.24);
    --color-infor: var(--infor);
    --color-success: var(--success);
    --color-error-main: #F44336;
    --color-info-main: var(--infor);
}

.dark {
}


@layer base {
    * {
        color: var(--text-primary);
    }

    body {
        color: var(--text-primary);
    }
}
